/*!
 * MI APP Template * Copyright 2013-2019 Phily Wu
 */

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #0099FF;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-custom .navbar-nav .nav-item {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 1rem 0 1rem;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#page-main {
  height: 90vh;
  overflow-y: auto;
}

#page-main .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#page-main .card-container .dash-chart-card {
  width: 25rem;
  height: 20rem;
  margin: 1rem;
  padding: 0 0 2rem 0;
}

#page-main .card-container .dash-chart-card .card-header {
  padding: 0rem;
  text-align: center;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
}

#page-main .number-card-container .number-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#page-main .number-card-container .number-card-group .dash-number-card {
  border: 0;
  width: 7rem;
  height: 5rem;
  margin: 0;
}

#page-main .number-card-container .number-card-group .dash-number-card .header {
  padding: 0rem;
  text-align: center;
  border: solid 1px #000;
  background: #e9ecef;
}

#page-main .number-card-container .number-card-group .dash-number-card .body {
  padding: 0.5rem;
  border: solid 1px #000;
  text-align: center;
}

.bg-primary {
  background-color: #0099FF !important;
}

.btn-primary {
  background-color: #0099FF;
  border-color: #0099FF;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #007acc !important;
  border-color: #007acc !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 153, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 255, 0.5);
}

.btn-secondary {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #b3b3b3 !important;
  border-color: #b3b3b3 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0.5);
}
