<div id="page-main">
  <template id="dash-chart-card-template">
    <div class="card dash-chart-card">
      <div class="card-header">
        ${card.title}
      </div>
      <div class="card-body">
        <div class="chart-container"></div>
      </div>
    </div>
  </template>
  <div class="container">

    <div class="row mb-3">
      <div id="dc_job" class="col d-flex flex-row justify-content-between flex-wrap"></div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex flex-row flex-wrap">
        <div>
          <h6>Current Jobs by Age</h6>
          <div class="card-container" id="sec_age_chart">
          </div>
        </div>
        <div>
          <h6>Current Jobs by Difficulty</h6>
          <div class="card-container" id="sec_dif_chart">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h6> Completed Job Performance 7 Days</h6>
        <div class="card-container" id="gc_bar" ">   
          </div>
      </div>
      </div>
  
    
        <div class="row mb-3">
          <div class="col  d-flex flex-row flex-wrap" id="dc_action">

          </div>
        </div>
        <div class="row mb-3">
          <div id="dc_customer" class="col d-flex flex-row justify-content-between flex-wrap"></div>
        </div>
        <div class="row mb-3">
          <div class="col  d-flex flex-row flex-wrap" id="tc_top10">

          </div>
        </div>
      </div>

      <button id="toTest" class="btn btn-primary fix-bottom d-none">Test</button>

    </div>