<div id="page-main">
  <template id="dash-chart-card-template">
    <div class="card dash-chart-card">
      <div class="card-header">
        ${card.title}
      </div>
      <div class="card-body">
        <div class="chart-container"></div>
      </div>
    </div>
  </template>
  <div class="container">
      <div class="row mb-3">
          <div class="col-sm-4">
            <div class="number-card-container">
            <div id="dcc" class="number-card-group"></div>
          </div>
            </div>
      </div>
    <div class="row mb-3">
      <div class="col-sm-4">

        <div id="sec_job_receive" class="number-card-container">
          <h5>Job Received</h5>
          <div class="number-card-group">
            <div class="dash-number-card">
              <div class="header">7 days</div>
              <div class="body">
                <h3>121</h3>
              </div>
            </div>
            <div class="dash-number-card ">
              <div class="header">14 days</div>
              <div class="body">
                <h3>24</h3>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4">

          <div id="sec_job_receive" class="number-card-container">
            <h5>Job Received</h5>
            <div class="number-card-group">
              <div class="dash-number-card">
                <div class="header">7 days</div>
                <div class="body">
                  <h3>121</h3>
                </div>
              </div>
              <div class="dash-number-card ">
                <div class="header">14 days</div>
                <div class="body">
                  <h3>24</h3>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-sm-4">

            <div id="sec_job_receive" class="number-card-container">
              <h5>Job Received</h5>
              <div class="number-card-group">
                <div class="dash-number-card">
                  <div class="header">7 days</div>
                  <div class="body">
                    <h3>121</h3>
                  </div>
                </div>
                <div class="dash-number-card ">
                  <div class="header">14 days</div>
                  <div class="body">
                    <h3>24</h3>
                  </div>
                </div>
                <div class="dash-number-card ">
                    <div class="header">14 days</div>
                    <div class="body">
                      <h3>24</h3>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
    </div>
    <div id="sec_ca_chart" class="row">
      <h5>Completed Job Performance 7 Days</h5><br>
      <div class="card-container">
      </div>
    </div>
    <div class="row">
      <div class="col-6" id="sec_age_chart" ">    
          <h5>Current Jobs by Age</h5><br>
          <div class="card-container">
      </div>
    </div>
    <div class="col-6" id="sec_dif_chart">    
            <h5>Current Jobs by Difficulty</h5><br>
            <div class=" card-container">
    </div>
  </div>
</div>
<div class="row"></div>
</div>

<button id="toTest" class="btn btn-primary fix-bottom d-none">Test</button>

</div>