#page-main {
    height:90vh;
    overflow-y:auto;
    .card-container {
        display: flex;
        flex-wrap: wrap;

        .dash-chart-card {
            width: 25rem;
            height: 20rem;
            margin: 1rem;
            padding: 0 0 2rem 0;

            .card-header {
                padding: 0rem;
                text-align: center;
                font-weight: bold;
                height: 2rem;
                line-height: 2rem;
            }
        }
    }
    
    
}