<div id="page-main">
  <div class="float-right language"><span id="v_en">English</span> | <span id="v_zh">中文版</span></div>
  <h1>Template</h1>
  <ul>
    <li><h5>add one html file in view folder </h5>
      <h6>file end with .fragment.html</h6>
      <h6>file name words sparate with "_"</h6>
    </li>
    <li><h5>add one Js class file in controller folder </h5>
        <h6>file end with .Controller.js</h6>
        <h6>class extend BaseController</h6>
      </li>

      <li><h5>add one page  in config/config.js </h5>
        <h6>add view name as the page key </h6>
        <h6>add same controller name as a page segment </h6>        
      </li>
      
  </ul>
  <button id="b_next" class="btn btn-primary">Route To Next Page</button>
</div>